
body {
	margin:0;
	padding:0;
    background-color: #FFFFFF;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
a {
    color: #25AAE1;
    text-decoration: none;
}
a:hover {
    color: #0089C1;
}

/* divs */
#portal-container {width:100%;}
#header-container {height:80px; background-color:#F5F5F5; background:url( images/header_bg.gif ) repeat-x;}
#content-container {padding:1px 50px 1px 50px;}
#portal-navi {}
#portal-content {}
#footer-container {height:25px; background-color:#D8D8A8; text-align:center; padding:10px; margin-top:50px; position:relative; clear:both;}


/***************************
*  Utility Navigation  *
*****************************/

#dashboardnav {
/*float: right;*/
   position: absolute;
   top: 0;
   right: 15px;
   font-size: 10px;
   padding: 6px 12px 0px 0px;
   color: #fff;
   z-index: 20;
   text-align:center;
}

#dashboardnav a {
	color:#fff;
}
#dashboardnav .addcontent {
   height: 20px;
   width: 20px;
   padding-left: 16px;
}


/***************************
*  Primary Navigation (Tabbed Nav)  *
*****************************/

div#navigation {
   position: relative;
   width: 100%;
   height: 64px;
}

ul#tabsHeader {
   list-style: none;
   margin: 0 0 0 0;
   padding: 0;
   position: absolute;
   bottom: 0px;
   left: 0;
   min-width: 550px;
   z-index: 1;
}

* html ul#tabsHeader {
   list-style: none;
   margin: 0 0 -5px 0;
   padding: 0;
   position: absolute;
   bottom: -5px;
   left: 0;
   min-width: 550px;
   z-index: 10;
}

ul#tabsHeader li {
   display: inline;
   float: left;
   height: 29px;
   font-family: Lucida, Tahoma, Verdana, sans-serif;
   font-size: 12px;
   margin: 0 1px 0 1px;
   position: relative;
   white-space: nowrap;
}

ul#tabsHeader li,
   ul#tabsHeader li#current {
   background-position: top right;
   background-repeat: no-repeat;
}

ul#tabsHeader li a {
   background-position: top left;
   background-repeat: no-repeat;
   padding: 5px 5px 0 5px;
   display: block;
   height: 29px;
   font-weight: bold;
   white-space: nowrap;
}

ul#tabsHeader li#current a {
   background-position: top left;
   background-repeat: no-repeat;
   padding: 5px 15px 0 15px;
   display: block;
   height: 29px;
   font-weight: bold;
   white-space: nowrap;
}

ul#tabsHeader li#current {
   background-color:#ffffff;
}

ul#tabsHeader li#current a {
   color: #2c2c2c;
}

ul#tabsHeader li {
   background-color:#dddddd;
}

ul#tabsHeader li a {
   color: #113266;
}

/*Submenus*/

/* Begin Submenu selectors */
ul#tabsHeader ul {
   visibility: hidden;
   position: absolute;
   height: 0;
   top: 0px;
   left: 0;
   width: 160px;
   text-align: left;
   margin: 0px;
   padding: 0px;
   margin-top: 28px;
}

ul#tabsHeader ul a {
   text-decoration: none;
   font-size: 11px;
   font-family: Verdana, Arial, Helvetica, Sans-Serif, sans-serif;
   font-weight: normal;
   color: #5078aa;
   background-image: none;
}

ul#tabsHeader ul a:hover {
   font-size: 11px;
   font-family: Verdana, Arial, Helvetica, Sans-Serif, sans-serif;
   font-weight: normal;
   color: #5078aa;

}

ul#tabsHeader #current ul a {
   font-size: 11px;
   font-family: Verdana, Arial, Helvetica, Sans-Serif, sans-serif;
   font-weight: normal;
   color: #5078aa;
   background-image: none;
}

ul#tabsHeader li:hover ul,
   ul#tabsHeader a:hover ul {
   visibility: visible;
}

ul#tabsHeader ul li {
   background: #DFE8ED;
   color: #5078aa;
   padding: 3px;
   width: 160px;
   list-style: none;
   border: 1px solid #98b7c6;
   border-width: 0px 1px 1px 1px;
   background-image: none;
   margin-left: 0px;
   margin-top: 0px;
   margin-right: 0px;
}

ul#tabsHeader ul li#current ul li {
   background-image: none;
}

ul#tabsHeader ul li:hover {
   background: #C0D3DC;
}

/****************************
* Portlet Container Windows *
*****************************/

.portlet-container {
   padding: 10px;
}

/* wrapper for floating portlet window modes */
.portlet-mode-container {
   white-space: nowrap;
   float:right;
}

.mode-button {
   /*position:absolute;*/
   margin-right: 3px;
   padding-top:5px;
   float:left;
}

.portlet-titlebar-title {
   color: #656565;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   white-space: nowrap;
   line-height: 100%;
   float: left;
   text-indent: 5px;
   padding-top: 5px;
   padding-bottom: 6px;
   width:65%;
   display:block;
   margin-right:10px;
}

/* ------ NOT CURRENTLY IN USE FOR NEW 2.6 FUNCTIONALITY -------
.portlet-titlebar-decoration {}
*/

.portlet-titlebar-left {
   background-image: url( images/portlet-top-left.gif );
   background-repeat: no-repeat;
   width: 9px;
   height: 29px;
   min-width: 9px;
   background-position: bottom;
}

.portlet-titlebar-center {
   background-image: url( images/portlet-top-middle.gif );
   background-repeat: repeat-x;
   height: 29px;
   background-position: bottom;
   position:relative;
}

.portlet-titlebar-right {
   background-image: url( images/portlet-top-right.gif );
   background-repeat: no-repeat;
   width: 10px;
   height: 30px;
   min-width: 10px;
   background-position: bottom left;
}

.portlet-content-left {
   background-image: url( images/portlet-left-vertical.gif );
   background-repeat: repeat-y;
   width: 9px;
   min-width: 9px;
   /*
      width:20px;
      background-color:#FFFFFF;
      border-left: 1px solid #dfe8ed;
   */
}

.portlet-content-center {
   vertical-align: top;
   padding: 0;
   margin: 0;
}

.portlet-body {
   background-color: #FFFFFF;
   padding: 0;
   margin: 0;
}

.portlet-content-right {
   background-image: url( images/portlet-right-vertical.gif );
   height: 100%;
   background-repeat: repeat-y;
   background-position: left;
   width: 5px;
   min-width: 5px;
   padding: 0;
   margin: 0;
   /*
      width:5px;
      background-color:#FFFFFF;
      border-right: 1px solid #dfe8ed;
   */
}

.portlet-footer-left {
   background-image: url( images/portlet-bottom-left.gif );
   width: 9px;
   height: 4px;
   background-repeat: no-repeat;
   background-position: top right;
   min-width: 9px;
   padding: 0;
   margin: 0;
   /*
   background-color:#FFFFFF;
   border-bottom: 1px solid #98b7c6;
   border-left: 1px solid #dfe8ed;
   height:5px;
   */
}

.portlet-footer-center {
   background-image: url( images/portlet-bottom-middle.gif );
   height: 4px;
   background-repeat: repeat-x;
   /*	background-color:#FFFFFF;
      border-bottom: 1px solid #98b7c6;
      height:5px;
   */
}

.portlet-footer-right {
   background-image: url( images/portlet-bottom-right.gif );
   width: 5px;
   height: 4px;
   background-repeat: no-repeat;
   min-width: 5px;
   /*
      background-color:#FFFFFF;
      border-bottom: 1px solid #98b7c6;
      border-right: 1px solid #dfe8ed;
      height:5px;
   */
}

/***********************
* Portlet Window Modes *
************************/
.portlet-mode-maximized {
   background-image: url( images/ico_16_maximize.gif );
   background-repeat: no-repeat;
   width: 16px;
   height: 16px;
   float: left;
   display: inline;
   cursor: pointer;
   padding-left: 3px;
}

.portlet-mode-maximized:hover {
   text-decoration: none;
}

.portlet-mode-minimized {
   background-image: url( images/ico_16_minimize.gif );
   background-repeat: no-repeat;
   width: 16px;
   height: 16px;
   float: left;
   display: inline;
   cursor: pointer;
   padding-left: 3px;
}

.portlet-mode-minimized:hover {
   text-decoration: none;
}

.portlet-mode-normal {
   background-image: url( images/ico_16_normal.gif );
   width: 16px;
   height: 16px;
   background-repeat: no-repeat;
   float: left;
   display: inline;
   cursor: pointer;
   padding-left: 3px;
}

.portlet-mode-normal:hover {
   text-decoration: none;
}

.portlet-mode-help {
   background-image: url( images/ico_16_help.gif );
   width: 16px;
   height: 16px;
   background-repeat: no-repeat;
   float: left;
   display: inline;
   cursor: pointer;
   padding-left: 3px;
}

.portlet-mode-help:hover {
   text-decoration: none;
}

.portlet-mode-edit {
   background-image: url( images/ico_edit.gif );
   background-repeat: no-repeat;
   width: 28px;
   height: 16px;
   float: left;
   display: inline;
   cursor: pointer;
   padding-left: 3px;
}

.portlet-mode-edit:hover {
   text-decoration: none;
}

.portlet-mode-admin {
   background-image: url( images/ico_admin.gif );
   background-repeat: no-repeat;
   width: 16px;
   height: 16px;
   float: left;
   display: inline;
   cursor: pointer;
   padding-left: 3px;
}

.portlet-mode-admin:hover {
   text-decoration: none;
}

.portlet-mode-remove {
   background-image: url( images/ico_16_remove.gif );
   background-repeat: no-repeat;
   width: 16px;
   height: 16px;
   float: left;
   display: inline;
   cursor: pointer;
   padding-left: 3px;
}

.portlet-mode-remove:hover {
   text-decoration: none;
}

.portlet-mode-view {
   background-image: url( images/ico_cancel.gif );
   background-repeat: no-repeat;
   width: 28px;
   height: 16px;
   float: left;
   display: inline;
   cursor: pointer;
   padding-left: 3px;
   padding-right: 20px;
}

.portlet-mode-view:hover {
   text-decoration: none;
}

.portlet-mode-reload {
   background-image: url( images/ico_16_reload.gif );
   background-repeat: no-repeat;
   width: 16px;
   height: 16px;
   float: left;
   display: inline;
   cursor: pointer;
   padding-left: 3px;
}

.portlet-mode-reload:hover {
   text-decoration: none;
}

.portlet-mode-hide {
   background-image: url( images/ico_16_swizzleclosed.gif );
   background-repeat: no-repeat;
   width: 16px;
   height: 16px;
   float: right;
   display: inline;
   cursor: pointer;
}

.portlet-mode-hide:hover {
   text-decoration: none;
}
