@import url('jquery.datepick.css');
@import url('jquery.jgrowl.css');

/*
 * css file for task manager portlet
 * @Author: JinhuaChen
 */
 
#task-manager-outer-wrap {
	
} 

#task-manager-wrap {
	padding: 5px;
	position: relative;
	color: #666666;
}

#task-manager-wrap.single {
	background-color: #FFFFFF;
}

#task-manager-navi {
	margin: 10px;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
}

#task-manager-navi ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#task-manager-navi ul li {
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline;
	padding: 5px 8px 5px 8px;
	cursor: pointer;
}

.task-bg-normal {
	background-color: #a64a1d;
}

.task-bg-focus {
	background-color: #aaaaaa;
}

* html div#task-manager-tasklist {
	height: expression(this.scrollHeight <   361 ?   "360px" :   "auto");
	/* sets min-height for IE */
}

#task-manager-tasklist {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	min-height: 360px;
	padding: 5px;
}

/* main table */
.task-manager-table {
	width: 100%; /* table width */
	color: inherit; /* text color */
	font-family: Verdana; /* font name */
	font-size: 12px; /* font size */
	border: 0px outset; /* border */
	border-collapse: collapse;
}

.task-manager-table img {
	border: 0px;
}

.task-manager-table tr {
	border-bottom: 1px solid #EEEEEE;
}

/* main table data cells */
.task-manager-table td {
	padding: 6px; /* cell padding */
	border: 0px solid; /* cell spacing */
	border-color: #CCCCCC; /* table background color */
	text-align: left;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}

/* to solve the text overflow in table */
.task-manager-table td strong {
	display: block;
	width: 100%;
	overflow: hidden;
}

.task-manager-table td.left {
	text-align: left;
}

.task-manager-table td.choose {
	width: 50px;
}

.task-manager-table td.from {
	width: 120px;
}

.from {
	display: inline-block;
	width: 150px;
	overflow: hidden;
}

.task-manager-table td.date {
	text-align: right;
}

/* main table header cells */
.task-manager-table .trheader {
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #EFEFEF;
}

.task-manager-table .trheader td a:link {
	text-decoration: underline;
	color: #25AAE1;
}

.task-manager-table .trheader td a:hover {
	text-decoration: underline;
	color: #0089C1;
}

.messageItem { /* cursor: pointer; */
	cursor: normal;
}
/* main table row color */
.task-manager-table tr.new {
	font-weight: bold;
}

.task-manager-table tr.oddRow {
	background-color: #FFFFFF; /* for odd row */
}

.task-manager-table tr.evenRow {
	background-color: #EFEFEF; /* #E7F5E7 for even row */
}

.task-manager-table tr.focusRow {
	background-color: #D8D8A8; /* for the current row */
}

.task-manager-table tr.clickRow {
	background-color: #ECC57A; /* for the current row */
}

.oddRow {
	background-color: #FFFFFF; /* for odd row */
}

.evenRow {
	background-color: #EFEFEF; /* #E7F5E7 for even row */
}

.task-config-table {
	color: inherit; /* text color */
	font-family: Verdana; /* font name */
	font-size: 12px; /* font size */
	border: 0px outset; /* border */
	border-collapse: collapse;
}

/* main table data cells */
.task-config-table td {
	padding: 4px; /* cell padding */
	border: 0px solid; /* cell spacing */
	border-color: #CCCCCC; /* table background color */
	text-align: left;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}

#task-manager-search {
	display: none;
}

#task-manager-search .message-keyword {
	font-weight: bold;
}

.advanced-search {
	display: none;
}

.search-table {
	width: 100%; /* table width */
	color: inherit; /* text color */
	font-family: Verdana; /* font name */
	font-size: 12px; /* font size */
	border: 0px outset; /* border */
	border-collapse: collapse;
}

.search-table td {
	padding: 6px; /* cell padding */
	border: 0px solid; /* cell spacing */
	text-align: left;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}

.search-td-1 {
	width: 100px;
}

.search-td-2 {
	width: auto;
}

#task-manager-operation {
	overflow: auto;
}

.task-manager-operation-part {
	/* margin: 5px 10px 5px 10px; */
/* 	margin-bottom: 5px; */
/* 	margin-top: 5px; */
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #bbbbbb url('../images/bg.gif');
}

.taskmanager-operation-part-wrapper {
	padding-top: 5px;
	width: 100%;
}

#task-manager-operation-page {
	float: left;
}

#task-manager-operation-loading {
	float: right;
	padding: 5px 8px 5px 25px;
	background: url('../images/load.gif') no-repeat 5px 5px;
}

#task-manager-operation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#task-manager-operation ul li {
	font-weight: bold;
	display: inline;
	padding: 5px;
}

#task-manager-operation ul li img {
	cursor: pointer;
	vertical-align: middle;
}

#task-manager-operation ul li a:hover {
	background-color: #aaaaaa;
}

.task-error-message {
	padding: 5px;
	background-color: #FFB6C1;
	border: 1px solid #FF3333; /* table background color */
}

.request-c-1 {
	font-weight: bold;
}

.text-bold {
	font-weight: bold;
}

.request-table {
	width: 100%; /* table width */
	border: 0;
	border-width: 1px;
	border-color: #C3C3C3;
	border-style: solid;
	border-collapse: collapse;
}

.request-table td.head {
	background-color: #D1EEEE;
	border: 0;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
}

.request-table td {
	padding: 6px; /* cell padding */
	border: 0px solid; /* cell spacing */
	text-align: left;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}

.item_normal {
	width: 160px;
	background-color: #ffffff;
	overflow: hidden;
	padding-left: 2px;
	padding-right: 2px;
}

.itemBg {
	cursor: default;
	background-color: #ffffff;
	width: 160px;
	padding-left: 2px;
	padding-right: 2px;
}

.item_high {
	background-color: #326BC5;
	cursor: default;
	width: 160px;
	color: white;
	padding-left: 2px;
	padding-right: 2px;
}

.item_button {
	text-align: right;
	background-color: #ffffff;
	width: 160px;
	cursor: pointer;
	padding-left: 2px;
	padding-right: 2px;
}

.errorMsg.noConsents {
	padding: 10px;
	color: #F00;
}

abbr.valueWithDesc {
	border-bottom: 0;
	cursor: pointer;
}

abbr.valueWithDesc:hover {
	color: #0089C1;
}

.personLink {
	color: #0089C1;
	cursor: pointer;
}

.personLink:hover {
	text-decoration: underline;
}

/* TIVA-18: Tietopyyntöjen selaus */
.basic-search p.searchTimeRange,.basic-search p.searchMisc {
	padding-top: 0px;
	padding-bottom: 5px;
	margin: 0;
}

.basic-search p span.searchTitle {
	display: inline-table;
	padding-left: 5px;
	width: 100px;
}

.basic-search p.searchTimeRange input.searchTime {
	width: 90px;
}

.basic-search p.searchButtonArea {
	text-align: right;
	padding-top: 7px;
}

/* ShowMessages css */
#normalMessage {
	padding-left: 10px;
	padding-bottom: 20px;
}

#messageStructure {
	
}

.notificationMessageHeader {
	background-color: #25AAE1;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: normal;
	margin: 12px 0;
	padding: 8px 15px;
	text-transform: uppercase;
}

.notificationMessageContent {
	padding-left: 15px;
}

#messageSenderHeader {
	
}

#messageRecipientsHeader {
	
}

#messageSubject {
	
}

#messageSender {
	
}

#messageRecipients {
	
}

#messageBody {
	
}

#messageHeader {
	font-size: 24px;
	font-weight: normal;
	margin: 12px 0;
	text-transform: uppercase;
}

table.task-manager-table tr {
	cursor: pointer;
}

table.task-manager-table tr.trheader {
	cursor: default;
}

#applicationKindergartenBrowse {
	background-color: #F0F0F0;
}

#applicationKindergartenBrowse span.searchTitle {
	width: 100px;
}

#applicationKindergartenBrowse select.yesNoSelect {
	width: 90px;
}

#applicationKindergartenBrowse .kindergartenSelections {
	padding-top: 20px;
}

/** 
 * KV message styles
 */
#messageContent .kokoelmavalinta {
	
}

#messageContent .tagit a {
	color: #666666;
}

#messageContent .tagit a:hover {
	color: #444444;
}

#messageContent h1 {
	margin: 12px 0;
	font-weight: normal;
	font-size: 24px;
	border: 0;
}

#messageContent .main p {
	padding-left: 15px;
}

#messageContent {
	margin-left: 10px;
	margin-right: 10px;	
}

#messageContent h2 {
	background-color: #25AAE1;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: normal;
	margin: 12px 0;
	padding: 8px 15px;
	text-transform: uppercase;
}

#messageContent h3 {
	padding: 0;
	margin: 10px 0;
	font-weight: normal;
	font-size: 13px;
}

#messageContent .innerContent h4 {
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	padding-left: 15px;
}

#messageContent .viestintiedot {
	color: #666666;
}

#messageContent input.person {
	margin-bottom: 2px;
	width: 300px
}

#messageContent .viestintiedot .add {
	height: 280px;
	width: 712px;
}

#messageContent .viesti span {
	color: #666666;
}

#messageContent .takaisin {
	display: inline;
	float: right;
	font-size: 11px;
	text-transform: none;
}

#messageContent .viestintiedot .pyynto {
	height: 80px;
	width: 99%;
}

#messageContent h3.kks {
	border-top: 1px solid #cccccc;
	padding-top: 10px;
}

