<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
		
		
	<!-- Handler Mapping -->	
	<bean id="parameterMappingInterceptor" class="org.springframework.web.portlet.handler.ParameterMappingInterceptor"/>
		
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>

	<context:component-scan base-package="fi.arcusys.koku.palvelut"></context:component-scan>
	
	<!-- Message source for this context, loaded from localized "messages_xx" files -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
			</list>
		</property>										
	</bean>
		
	<bean id="ajaxViewResolver"
        class="fi.arcusys.koku.palvelut.util.AjaxViewResolver">
        <property name="ajaxView">
            <bean class="fi.arcusys.koku.palvelut.util.AjaxView" />
        </property>
        <property name="ajaxPrefix" value="ajax_"></property>
    </bean>
	
<!-- 	<bean id="ajaxViewResolver" class="fi.arcusys.koku.palvelut.util.AjaxViewResolver"></bean> -->

	<!-- Default View Resolver -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="cache" value="false"/>
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<!-- Abstract Default Exception Handler Bean -->
    <bean id="defaultExceptionHandlerTemplate" class="org.springframework.web.portlet.handler.SimpleMappingExceptionResolver" abstract="true">
		<property name="defaultErrorView" value="defError"/>
		<property name="exceptionMappings">
			<props>
				<prop key="javax.portlet.PortletSecurityException">notAuthorized</prop>
				<prop key="javax.portlet.UnavailableException">notAvailable</prop>
			</props>
		</property>  
	</bean>
	
	
		<!-- Configuration options -->	
    <bean id="configuration" class="fi.arcusys.koku.palvelut.bean.Configuration" factory-method="getInstance">
	</bean>
	
	<!-- Proxy configuration -->
  <bean id="xformsProxyConfiguration" class="fi.arcusys.koku.palvelut.proxy.ProxyConfig" factory-method="getInstance">
    	<property name="proxyFilterPath" value="/palvelut-portlet/xforms" />
    	<property name="targetPath" value="/xFormsManager" />
    	<property name="replaceMap">
			<map>
			  <entry>
			    <key><value>([\"|'|\\(])/xFormsManager/</value></key>
			    <value>$1/palvelut-portlet/xforms/</value>
			  </entry>
			  <entry>
			    <key><value>http://([^/]*?)/xFormsManager/</value></key>
			    <value>/palvelut-portlet/xforms/</value>
			  </entry>
			</map>
    	</property>
    	<property name="filterContentTypes">
    		<list>
    			<value>text/html</value>
    			<value>text/css</value>
    		</list>
    	</property>
	</bean>
	
	<bean id="ajaxformsProxyConfiguration" class="fi.arcusys.koku.palvelut.proxy.ProxyConfig" factory-method="getInstance">
    	<property name="proxyFilterPath" value="/palvelut-portlet/ajaxforms" />
    	<property name="targetPath" value="/gi" />
		<property name="storeCookies" value="true" />
	    <property name = "ignorePaths">
	       <list>
	           <value>/palvelut-portlet/ajaxforms/WsProxyServlet2</value>
	       </list>
	    </property>
    	<property name="replaceMap">
			<map>
			  <entry>
			    <key><value>([\"|'|\\(])/gi/</value></key>
			    <value>$1/palvelut-portlet/ajaxforms/</value>
			  </entry>
			  <entry>
			    <key><value>http://([^/]*?)/gi/</value></key>
			    <value>/palvelut-portlet/ajaxforms/</value>
			  </entry>
				<entry>
			    <key><value>/ui-fw/script/empty.jsp</value></key>
			    <value>/palvelut-portlet/html/empty.html</value>
			  </entry>
			</map>
    	</property>
    	<property name="filterContentTypes">
    		<list>
    			<value>text/html</value>
    			<value>text/css</value>
					<value>text/javascript</value>
					<value>text/xml</value>
    		</list>
    	</property>
			<property name="guessContentTypes">
    		<map>
					<entry>
						<key><value>.html</value></key>
						<value>text/html</value>
					</entry>
					<entry>
						<key><value>.js</value></key>
						<value>text/javascript</value>
					</entry>
					<entry>
						<key><value>.css</value></key>
						<value>text/css</value>
					</entry>
					<entry>
						<key><value>.xml</value></key>
						<value>text/xml</value>
					</entry>
    		</map>
    	</property>
	</bean>
	
</beans>
