/*
 * css file for task manager portlet
 * @Author: JinhuaChen
 */
 
 
 @media print {
	
	html, body {
		margin: 0;
	}
	
	/* Loora specific.  Hide login div in Loora */
	body > table > tbody > tr > td > div:first-child {
		display: none;
	}
	
		/* Kunpo specific */
	#UIPortal > .UIRowContainer > div { 
		display: none;
	}
	
	#UIPortal > .UIRowContainer > div#UIPageBody {
		display: block;
	}
	
	/* hide Kunpo navigation */
	#UIPortal > .UIRowContainer > div#UIPageBody table.UITableColumnContainer > tbody > tr > td:first-child {
		display: none;
	}
	
	/* Kunpo specific ends */	
	 .UIContainer.UIToolbarContainer {
		display: none; 
	}
	
	.UIWorkingWorkspace .UIPageBody {
		border: none;
	}
	
	/* Kunpo specific ends */	
	
	html {
		border-top: 1px dotted #000;
		border-bottom: 1px dotted #000;
	}
	
		
	#task-manager-navi {
		border: none;
	}
	
		/* Bold table headers */
	.task-manager-table .trheader,
	#show-message .text-bold  {
		font-weight: bold;
	}
	
	.task-manager-table tr.trheader {
		border-bottom: 1px solid #000;
	}
	
	.task-manager-table {
		border-bottom: 1px solid #000;
	}
	
	.task-manager-table tbody tr td {
		border-top: 1px dotted #000;
		border-bottom: 1px dotted #000;
	}	
	
	#task-manager-operation-page ul li#kokuTableNavigation {
		display: inline;
	}
	
	#task-manager-operation-page ul#kokuTableNavigation li {
		display: inline;
		padding-left: 5px;
	}
	
	#task-manager-operation-page ul#kokuTableNavigation li a {
		display: none;
	}
	
	/* Hide button in detail pages */
	.task-manager-operation-part input[type=button] {
		display: none;
	}
	
	.task-manager-operation-part form {
		display: none;
	}
	
	#task-manager-operation {
		display: none;
	}	
		
	#task-manager-outer-wrap,
	#task-manager-wrap,
	#task-manager-wrap,
	#task-manager-wrap,
	#task-manager-tasklist,
	.task-manager-table,
	.task-manager-table tr {
		width: 100%;
	}
	
	.task-manager-table td {
		width: 300px;
	}
	
	.task-manager-table td.choose {
		display: none; 
	}

	#show-message .request-table {
		width: 100%;
	} 
		
	#show-message .request-c-1,
	#show-message .request-table td.head {
		font-weight: bold;
	}
	
	.task-manager-operation-part .basic-search {
		display: none;
	}
	
	#show-message .request-table td {
		border-bottom: 1px dotted #000;
	}
	
	
}
 
 @media screen { 
 
 	#intalioPrintingLink {
		width: 100%;
		text-align: right;
		padding-top: 5px;
	}
	
	#intalioPrintingLink a#printLink {
		cursor: pointer;
		padding-right: 10px;
		padding-left: 3px;
		lineheight: 15px;
		vertical-align: bottom;
		
	}
	
	#intalioPrintingLink img {
		height: 16px;
		width: 16px;
	}
		
	#intalioPrintingLink a#printLink:hover {
		text-decoration:underline
	}	
 
 
	 /* JBoss EPP fix */
	.UIComponent .UIComponentBlock .PORTLET-FRAGMENT {
		/* width: 100% !important; */	
	}
	
	#task-manager-wrap {
		margin: 5px;
		position: relative;
	}
	
	#task-manager-navi {
		margin: 10px;
		padding: 10px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #cccccc;
	}
	
	#task-manager-navi ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	#task-manager-navi ul li {
		color: #fff;
		font-weight: bold;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		display: inline;
		padding: 5px 8px 5px 8px;
		cursor: pointer;
	}
	
	.task-bg-normal {background-color: #a64a1d;}
	
	.task-bg-focus {background-color: #aaaaaa;}
	
	#task-manager-tasklist {
		margin: 10px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #cccccc;
		min-height: 360px;
		padding: 2px;	
		overflow: hidden;
	}
	
	* html div#task-manager-tasklist { 
	   height: expression( this.scrollHeight < 361 ? "360px" : "auto" ); /* sets min-height for IE */
	}
	
	/* main table */
	.task-manager-table {
		width: 100%; /* table width */
		color: inherit; /* text color */
		font-family: Verdana; /* font name */
		font-size: 12px; /* font size */
		border: 0px outset; /* border */
		border-collapse: collapse;
	}
	
	.task-manager-table img {
		border: 0px;
	}
	
	/* main table data cells */
	.task-manager-table td {
		padding: 6px; /* cell padding */
		text-align: left;
		word-wrap: break-word;
		word-break: break-all;
		overflow: hidden;
		white-space: nowrap;
		font-family: "Trebuchet MS",Tahoma,Verdana,Arial,Helvetica,sans-serif;
		font-size: 12px;
	}
	
	.task-manager-table td.left {
		text-align:left;
	}
	
	/* main table header cells */
	.task-manager-table .trheader {
	/* 	background-color: #666666; /* header color */
	/* 	color: #FFFFFF; header font color */
	/* 	vertical-align: top;  */
		
		border-bottom: 1px solid #EFEFEF;
	    font-weight: bold;
	    vertical-align: top;
	}
	
	.task-manager-table .trheader td a {
		color: #666;
	}
	
	
	/* main table row color */
	.oddRow {
		background-color: #FFFFFF; /* for odd row */
	}
	
	.evenRow {
		background-color: #F5F5F5; /* #E7F5E7 for even row */
	}
	
	.focusRow {
		background-color: #D8D8A8; /* for the current row */
		
	}
	.clickRow {
		background-color: #ECC57A; /* for the current row */
	}
	
	.task-config-table {
		color: inherit; /* text color */
		font-family: Verdana; /* font name */
		font-size: 12px; /* font size */
		border: 0px outset; /* border */
		border-collapse: collapse;
	}
	
	/* main table data cells */
	.task-config-table td {
		padding: 4px; /* cell padding */
		border: 0px solid; /* cell spacing */
		border-color: #CCCCCC; /* table background color */
		text-align: left;
		word-wrap: break-word;
		word-break: break-all;
		overflow: hidden;
		white-space: nowrap;
	}
	
	#task-manager-search {
		display:none;
	}
	
	#task-manager-operation {
		height:30px;
		overflow:auto;
	}
	
	.task-manager-operation-part {
		margin: 5px 10px 5px 10px;
		padding: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background: #bbbbbb url('../images/bg.gif');
	}
	
	#task-manager-operation-page {float:left;}
	#task-manager-operation-loading {
		float:right; 
		padding: 5px 8px 5px 25px;
		background: url('../images/load.gif') no-repeat 5px 5px;}
	#task-manager-operation ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	#task-manager-operation ul li {
		font-weight: bold;
		display: inline;
		padding: 5px;
	}
	
	#task-manager-operation ul li img{
		cursor: pointer;
		vertical-align:middle;
	}
	#task-manager-operation ul li a:hover{
		background-color: #aaaaaa;
	}
	
	.task-error-message {
		padding:5px;
		background-color: #FFB6C1;
		border: 1px solid #FF3333; /* table background color */
	}
	
	/* Intalio CSS hack in totally wrong place */
	div[label="IntalioInternal_AttachmentsImageBlock"] {
	    display: none !important;
	}
	
	div#task-manager-wrap {
		min-width: 760px;
	}
}
