.koku-lok .portlet-menu{
	display: block;
    height: 40px;
    width: 100%;
}
.koku-lok .portlet-menu ul{
	list-style:none;
	margin:10px 0;
	padding:0;
}
.koku-lok .portlet-menu li.portlet-menu-item{
	display: inline;
    float: left;
    margin: 0 6px 0 0;
	padding:6px 16px;
	background-color:#cccccc;
	border:1px solid #dedede;
}
.koku-lok .portlet-menu li.portlet-menu-item-selected, .portlet-menu li.portlet-menu-item-hover, .portlet-menu li.portlet-menu-item-selected-hover{
	background-color: #25AAE1;
    color: #FFFFFF;
    display: inline;
    float: left;
    margin: 0 6px 0 0;
    padding: 6px 16px;
	border:1px solid #1f94c5;
}

.koku-lok .portlet-table-body th{
    background: none repeat scroll 0 0 #DEDEDE;
    font-weight: normal; 
    padding: 5px;
    font-size:13px; 
    text-transform: uppercase;
    text-align: left;
}
.koku-lok .portlet-table-body td{
    border-bottom:1px solid #dedede !important;
    padding:5px;
    vertical-align:top;
    font-size:11px; 
}
.koku-lok .portlet-table-body a {
    font-size:13px; 
}