@charset "UTF-8";

.koku-pyh .pyh-home a {
	float: right;
}

.koku-pyh .portlet-section-header {
	font-size: 22px;
	font-weight: normal;
	margin: 12px 0;
}

.koku-pyh h2.portlet-section-subheader {
	background-color: #25AAE1;
	color: #FFFFFF;
	margin: 12px 0;
	padding: 8px 15px;
	font-size: 16px;
	font-weight: normal;
}

.koku-pyh h3.portlet-section-subheader {
	margin: 12px 0;
	font-size: 15px;
	color: #555555;
}

.koku-pyh .portlet-form-field-label {
	margin: 8px 0 2px;
	width: 300px
}

.koku-pyh .portlet-form-field {
	margin-bottom: 12px;
	width: auto;
}

.koku-pyh .portlet-table-body th {
	background: none repeat scroll 0 0 #DEDEDE;
	font-weight: normal;
	padding: 5px;
	font-size: 13px;
	text-transform: uppercase;
	text-align: left;
}

.koku-pyh .portlet-table-body td {
	border-bottom: 1px solid #dedede !important;
	padding: 5px;
	vertical-align: top;
	font-size: 11px;
}

.koku-pyh .portlet-table-body a {
	font-size: 13px;
}

.koku-pyh .pyh-reset-floating {
	clear: both;
}

.koku-pyh .pyh-right {
	float: right;
}

.koku-pyh .pyh-left {
	float: left;
}