@charset "UTF-8";

.koku-kks .kks-home a {
    float:right;
}
.koku-kks .portlet-section-header {
    font-size: 22px;
    font-weight: normal; 
    margin: 12px 0;
}
.koku-kks h2.portlet-section-subheader {
    background-color: #25AAE1;
    color: #FFFFFF; 
    margin: 12px 0;
    padding: 8px 15px;
    font-size:16px;
    font-weight:normal;
}
.koku-kks h3.portlet-section-subheader {
    margin: 12px 0;
    font-size:15px;
    color:#555555;
}
.koku-kks .portlet-section-text {
}
.koku-kks .portlet-form-field-label{	
    margin: 8px 0 2px;
    width: 300px;
    font-weight: bold;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    white-space:normal;
}
.koku-kks textarea.portlet-form-input-field {
    padding: 5px; 
    width: 700px;
}
.koku-kks textarea.portlet-form-input-field:focus {
    padding: 5px; 
    width: 700px;
}
.koku-kks .portlet-form-field {
   margin-bottom:12px;
   width: auto;
}
.koku-kks .portlet-table-body th{
    background: none repeat scroll 0 0 #DEDEDE;
    font-weight: normal; 
    padding: 5px;
    font-size:13px; 
    text-transform: uppercase;
    text-align: left;
}
.koku-kks .portlet-table-body td{
    border-bottom:1px solid #dedede !important;
    padding:5px;
    vertical-align:top;
    font-size:11px; 
}
.koku-kks .portlet-table-body a {
    font-size:13px; 
}
.koku-kks .kks-reset-floating {
    clear: both;
}
.koku-kks .kks-right {
    float: right;
}
.koku-kks .kks-left {
    float: left;
}
.koku-kks a.create {
    cursor:pointer;
    text-transform:uppercase;
    padding: 2px 0;
    display:block;
}
.koku-kks a.small {
    font-size: 11px;
    margin-top: -21px;
    padding-bottom: 10px;
    padding-left: 310px;
    text-transform: none;
}
.koku-kks a.create .kks-close{
    display:none;
}
.koku-kks a.active .kks-close{
    display:inline;
    font-size: 11px;
    text-transform: none;
    float:right;
}
.koku-kks .kks-fields {
    padding:5px 0 45px 0;
    border-bottom:1px solid #999999;
    margin-bottom:10px;
    color:#666666;
}
.koku-kks .kks-comment {
    padding-top: 10px;  
}
.koku-kks .kks-read-only-text {
    display: block;
    padding: 5px;
    padding-bottom: 10px
}

.koku-kks .kks-read-only-description {
    display: block;
    padding: 5px;
    padding-bottom: 15px;
}

.koku-kks .kks-entry {
    padding: 0 0 0 5px;
}