<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>palvelut-portlet</display-name>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>fi.arcusys.koku.palvelukanava.palvelut</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/context/applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>XFormsProxyFilter</filter-name>
		<filter-class>fi.arcusys.koku.palvelut.proxy.ProxyFilter</filter-class>
		<init-param>
			<param-name>proxyConfigName</param-name>
			<param-value>xformsProxyConfiguration</param-value>
		</init-param>
		<init-param>
			<param-name>proxyConfigLocation</param-name>
			<param-value>/WEB-INF/context/portlet/veera.xml</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>AjaxFormsProxyFilter</filter-name>
		<filter-class>fi.arcusys.koku.palvelut.proxy.ProxyFilter</filter-class>
		<init-param>
			<param-name>proxyConfigName</param-name>
			<param-value>ajaxformsProxyConfiguration</param-value>
		</init-param>
		<init-param>
			<param-name>proxyConfigLocation</param-name>
			<param-value>/WEB-INF/context/portlet/veera.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>XFormsProxyFilter</filter-name>
		<url-pattern>/xforms/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AjaxFormsProxyFilter</filter-name>
		<url-pattern>/ajaxforms/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ViewRendererServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewRendererServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/view</url-pattern>
	</servlet-mapping>
	
    <servlet>
      <servlet-name>WsProxyServlet2</servlet-name>
      <servlet-class>fi.arcusys.koku.common.wsproxy.servlet.WsProxyServletRestricted</servlet-class>
        <init-param>
          <description>List of endpoints available for proxying.</description>
          <param-name>endpoints</param-name>
          <param-value>
                http://trelx51x:8080/arcusys-koku-0.1-SNAPSHOT-av-model-0.1-SNAPSHOT/KokuAppointmentProcessingServiceImpl,
                http://trelx51x:8080/arcusys-koku-0.1-SNAPSHOT-arcusys-common-0.1-SNAPSHOT/UsersAndGroupsServiceImpl,
                http://trelx51x:8080/arcusys-koku-0.1-SNAPSHOT-tiva-model-0.1-SNAPSHOT/KokuSuostumusProcessingServiceImpl,
                http://trelx51x:8080/arcusys-koku-0.1-SNAPSHOT-tiva-model-0.1-SNAPSHOT/KokuValtakirjaProcessingServiceImpl,
                http://trelx51x:8080/arcusys-koku-0.1-SNAPSHOT-tiva-model-0.1-SNAPSHOT/KokuTietopyyntoProcessingServiceImpl,
                http://trelx51x:8080/arcusys-koku-0.1-SNAPSHOT-hak-model-0.1-SNAPSHOT/KokuHakProcessingServiceImpl,
                http://trelx51x:8080/arcusys-koku-0.1-SNAPSHOT-kv-model-0.1-SNAPSHOT/KokuRequestProcessingServiceImpl
          </param-value>
        </init-param>
     </servlet>

    <servlet-mapping>
      <servlet-name>WsProxyServlet2</servlet-name>
      <url-pattern>/ajaxforms/WsProxyServlet2</url-pattern>
    </servlet-mapping>
    
    <!-- This part is only for gatein skin, it must be quoted for jboss portal  -->
	 <filter>
		<filter-name>ResourceRequestFilter</filter-name>
		<filter-class>org.exoplatform.portal.application.ResourceRequestFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ResourceRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- For gatein skin ends -->
    
</web-app>