<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>palvelut-portlet</display-name>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>fi.arcusys.koku.palvelukanava.palvelut</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/context/applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>XFormsProxyFilter</filter-name>
		<filter-class>fi.arcusys.koku.palvelut.proxy.ProxyFilter</filter-class>
		<init-param>
			<param-name>proxyConfigName</param-name>
			<param-value>xformsProxyConfiguration</param-value>
		</init-param>
		<init-param>
			<param-name>proxyConfigLocation</param-name>
			<param-value>/WEB-INF/context/portlet/veera.xml</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>AjaxFormsProxyFilter</filter-name>
		<filter-class>fi.arcusys.koku.palvelut.proxy.ProxyFilter</filter-class>
		<init-param>
			<param-name>proxyConfigName</param-name>
			<param-value>ajaxformsProxyConfiguration</param-value>
		</init-param>
		<init-param>
			<param-name>proxyConfigLocation</param-name>
			<param-value>/WEB-INF/context/portlet/veera.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>XFormsProxyFilter</filter-name>
		<url-pattern>/xforms/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AjaxFormsProxyFilter</filter-name>
		<url-pattern>/ajaxforms/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ViewRendererServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>fi.arcusys.koku.palvelut.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
	<servlet-mapping>
		<servlet-name>ViewRendererServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/view</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>