@import url('Pager.css');


@media print {
	
	html, body {
		margin: 0;
	}
	
	/* Loora specific.  Hide login div in Loora */
	body > table > tbody > tr > td > div:first-child {
		display: none;
	}
	
		/* Kunpo specific */
	#UIPortal > .UIRowContainer > div { 
		display: none;
	}
	
	#UIPortal > .UIRowContainer > div#UIPageBody {
		display: block;
	}
	
	/* hide Kunpo navigation */
	#UIPortal > .UIRowContainer > div#UIPageBody table.UITableColumnContainer > tbody > tr > td:first-child {
		display: none;
	}
	
	/* Kunpo specific ends */	
	 .UIContainer.UIToolbarContainer {
		display: none; 
	}
	
	.UIWorkingWorkspace .UIPageBody {
		border: none;
	}
	
	/* Kunpo specific ends */	
	
	html {
		border-top: 1px dotted #000;
		border-bottom: 1px dotted #000;
	}	
	
	
}

 
@media screen { 
	
	#intalioPrintingLink {
		width: 100%;
		text-align: right;
		height: 16px;
		vertical-align: middle;		
	}
	
	#intalioPrintingLink a#printLink {
		cursor: pointer;
		padding-right: 10px;
		padding-left: 3px;
		lineheight: 15px;
	}
	
	#intalioPrintingLink img {
		height: 16px;
		width: 16px;
	}
		
	#intalioPrintingLink a#printLink:hover {
		text-decoration:underline
	}	
	
	#portlet-wrapper-palvelut_WAR_palvelutportlet .portlet-content-container{
	  padding:0px 10px 35px;
	}
	
	#search-list{
	  min-height: 400px;
	}
	
	#search-result-backurl{
	  padding: 0 0 5px 3px;
	}
	
	#search-result-title{
	  font-weight:bold;
	  padding: 15px 0 5px 3px;
	  font-size:13px;
	}
	
	.text-field{ 
	  margin-top: 10px;
	}
	
	div.search_bar{
	  margin-bottom:10px;
	}
	
	.btn_lisaa_linkki {
		display: inline;	
	}
	
	.btn_luo_kansio {
		display: inline;	
	}
	
	.veera_form_window_header {
		height: 40px;
	}
	
	.veera_form_window_header .form_help_link {
		float: right;
		margin: 0 20px 0 0;
	}
	
	.xforms_container_iframe {
		width: 100%;
		height: 1500px;
	}
	
	.breadcrumbs {
		display: inline;
	}
	
	#veeraCategoryListLeft {
		float: left;
	}
	
	#veeraCategoryListRight {
		float: right;
	}
	
	#p_p_id_cmsticket_WAR_cmsticketportlet_ div.portlet { 
		margin-top:0px !important;
	}
	
	#p_p_id_cmsticket_WAR_cmsticketportlet_ div.portlet-content-container {
		padding-top: 0px !important;
	}
	
	.categoryInfo {
	    background: transparent url(../images/info_icon.png) top left no-repeat;
	    padding-left: 20px;
	    cursor: pointer;
	}
	
	.veeraCategoryTable {
		width: 100%;
	}
	
	.failureJsp {
		padding: 10px;
		padding-left: 20px;
		background: transparent url(../images/info_icon.png) center left no-repeat;
	}
	
	.failureMessage {
		color: red;
		padding-top: 10px;	
	    padding-bottom: 10px;
	}
	
	.failureMessage.firstMessage {
	    border-bottom: 1px dotted #BBBBBB;
	}
	
	/* ConfigurationView */
	
	.FormValuesHeader {
		padding-bottom: 10px;
		padding-top: 10px;
	}
	
	.FormValues {
		width: 100%;
		padding-left: 10px;
	}
	
	.FormValues tbody {
		border-bottom: 1px solid #CCC;	
	}
	
	
	.FormValues .headerRow {
		width: 500px;
	}
	
	.FormValues .row {
		width: 250px;
	}
	
	.FormValues .headerRow .rowHeader {
		width: 250px;
		font-weight: bold;
		text-align: left;
		border-bottom: 1px solid #CCCCCC;
	}
	
	.FormValuesHelp {
		padding-top: 10px;
		width: 100%;
	}
	
	/* Intalio CSS hack in totally wrong place */
	div[label="IntalioInternal_AttachmentsImageBlock"] {
	    display: none !important;
	}
	
	/* GateIn portlet configuration popup fix */
	.UIPopupCategory {
		z-index: 10;
	}
	
	.configuration {
		padding: 10px;
		padding-bottom: 20px;
	}
}


